{% extends 'base.html' %}
{% block content %}
<h1>REGISTER</h1>
<form action="" method="post" >
    {% csrf_token %}
    
    <table>
    <tr>
    <td><label name="name">Name</label></td>
    <td><input type="text" name="name" id="name" placeholder="enter name"></td>
    </tr>
    <tr>
    <td><label name="phone">phone</label></td>
    
    <td><input type="text" name="phone" id="phone" placeholder="enter phone"></td>
    </tr>
    <tr>
    <td><label name="email">Email</label></td>
    <td><input type="text" name="email" id="email" placeholder="enter email"></td>
    </tr><tr>
    <td><label name="username">Username</label></td>
    <td><input type="text" name="username" id="username" placeholder="enter username"></td>
    </tr>
    <tr>
    <td><label name="password">Password</label></td>
    <td><input type="password" name="password" id="password" placeholder="enter password"></td>
    
    </tr>
    </table>
    <br>
    
    <button type="submit"> Submit</button>
</form>
{% endblock %}
