{% extends 'base.html' %}
{% block content %}
<h1>REGISTER</h1>
<form action="../updatedata/{{ reg.id }}" method="post" >
    {% csrf_token %}
    
    <table>
    <tr>
    <td><label name="name">Name</label></td>
    <td><input type="text" name="name" value="{{ reg.name }}" id="name" placeholder="enter name"></td>
    </tr>
    <tr>
    <td><label name="phone">phone</label></td>
    
    <td><input type="text" name="phone" id="phone" value="{{ reg.phone }}" placeholder="enter phone number"></td>
    </tr>
    <tr>
    <td><label name="email">Email</label></td>
    <td><input type="text" name="email" id="email" value="{{ reg.email }}" placeholder="enter email"></td>
    </tr><tr>
    <td><label name="username">Username</label></td>
    <td><input type="text" name="username" id="username" value="{{ reg.username }}" placeholder="enter username"></td>
    </tr>
    <tr>
    <td><label name="password">Password</label></td>
    <td><input type="password" name="password" id="password" value="{{ reg.password }}" placeholder="enter password"></td>
    
    </tr>
    </table>
    <br>
    
    <button type="submit"> Submit</button>
</form>
{% endblock %}